<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    {% include 'header.twig' %}
    {% if msg %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
    {% endif %}
    <section id="downloads">
      <div class="container wow animated fadeInDown">
        <h1>Begin your journey to faster local development...</h1>
        <div class="row install-steps">
          <div class="col-xs-4">
            <div class="circle">
              1
            </div>
            <h2>Download</h2>
            <div class="col-xs-12">
            {% if 'Mac' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=dmg&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <small>Latest and Greatest</small>
                <div class="os-desc">
                  <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                </div>
              </a>
              {% if legacy %}
                <div>
                  or
                  <a href="/download/kalabox?email={{ email }}&extension=dmg&version={{legacy}}">
                    <small>Download the Legacy Virtualbox Version {{legacy}}</small>
                  </a>
                </div>
              {% endif %}
            {% endif %}
            {% if 'Windows' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=exe&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <i class="fa fa-windows"></i> <span>Windows 10 Pro+</span>
              </a>
              {% if legacy %}
                <div>
                  or
                  <a href="/download/kalabox?email={{ email }}&extension=exe&version={{legacy}}">
                    <small>Download the Legacy Virtualbox Version {{legacy}}</small>
                  </a>
                </div>
              {% endif %}
            {% endif %}
            {% if 'Ubuntu' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=deb&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <i class="fa fa-linux"></i> <span>Ubuntu 14.04+</span>
              </a>
            {% endif %}
              <ul class="alt-downloads">
                <li>
                  <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=dmg&version={{release}}">
                    {{release}}
                  </a>
                </li>
                <li>
                  <i class="fa fa-windows"></i> <span>Windows 10 Pro+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=exe&version={{release}}">
                    {{release}}
                  </a>
                </li>
                <li>
                  <i class="fa fa-linux"></i> <span>Ubuntu 14.04+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=deb&version={{release}}">
                    {{release}}
                  </a>
                </li>
                <li>
                  <i class="fa fa-linux"></i> <span>Fedora 20+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=rpm&version={{release}}">
                    {{release}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="circle">
              2
            </div>
            <h2>Follow Install Instructions</h2>
            <a class="btn btn-primary purple" href="http://support.kalabox.io/en/stable/users/install">See Install Instructions</a>

          </div>
          <div class="col-xs-4">
            <div class="circle">
              3
            </div>
            <h2>Run Installer</h2>
            <p>Run the installer. Once complete, Kalabox will be in your normal applications directory.</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>