<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    {% include 'header.twig' %}
    {% if msg %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
    {% endif %}
    <section id="downloads">
      <div class="container wow animated fadeInDown">
        <h1>Begin your journey to faster local development...</h1>
        <div class="row">
          <div class="col-xs-12">
            {% if 'Mac' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=dmg&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <small>Latest and Greatest</small>
                <div class="os-desc">
                  <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                </div>
              </a>
              {% if legacy %}
                <a class="btn btn-secondary" href="/download/kalabox?email={{ email }}&extension=dmg&version={{legacy}}">
                  <h3>Download Kalabox {{legacy}}</h3>
                  <small>Legacy Virtualbox Version</small>
                  <div class="os-desc">
                    <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                  </div>
                </a>
              {% endif %}
            {% endif %}
            {% if 'Windows' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=exe&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <i class="fa fa-windows"></i> <span>Windows 10 Pro+</span>
              </a>
              {% if legacy %}
                <a class="btn btn-secondary" href="/download/kalabox?email={{ email }}&extension=exe&version={{legacy}}">
                  <h3>Download Kalabox {{legacy}}</h3>
                  <small>Legacy Virtualbox Version</small>
                  <div class="os-desc">
                    <i class="fa fa-windows"></i> <span>Windows 7+</span>
                  </div>
                </a>
              {% endif %}
            {% endif %}
            {% if 'Ubuntu' in platform %}
              <a class="btn btn-primary" href="/download/kalabox?email={{ email }}&extension=deb&version={{release}}">
                <h3>Download Kalabox {{release}}</h3>
                <i class="fa fa-windows"></i> <span>Windows 7+</span>
              </a>
            {% endif %}
              <ul class="alt-downloads">
                <li>
                  <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=dmg&version={{release}}">
                    2.1.0
                  </a>/
                  <a href="/download/kalabox?email={{ email }}&extension=dmg&version={{legacy}}">
                    2.0.2
                  </a>
                </li>
                <li>
                  <i class="fa fa-windows"></i> <span>Windows 10 Pro+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=exe&version={{release}}">
                    2.1.0
                  </a>/
                  <a href="/download/kalabox?email={{ email }}&extension=exe&version={{legacy}}">
                    2.0.2
                  </a>
                </li>
                <li>
                  <i class="fa fa-linux"></i> <span>Ubuntu 14.04+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=deb&version={{release}}">
                    2.1.0
                  </a>
                </li>
                <li>
                  <i class="fa fa-linux"></i> <span>Fedora 20+</span>
                  <a href="/download/kalabox?email={{ email }}&extension=rpm&version={{release}}">
                    2.1.0
                  </a>
                </li>
              </ul>
          </div>
        </div>
        <div class="row install-steps">
          <div class="col-xs-4">
            <h2>1. Download</h2>
            <p>Pick the correct version of Kalabox above. Uncompress the download.</p>
          </div>
          <div class="col-xs-4">
            <h2>2. Follow Install Instructions</h2>
            <p>See install directions <a href="http://support.kalabox.io/en/stable/users/install">in the docs</a>.</p>

          </div>
          <div class="col-xs-4">
            <h2>3. Run Installer</h2>
            <p>Run the installer. Once complete, Kalabox will be in your normal applications directory.</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>
