<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    {% include 'header.twig' %}
    {% if msg %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
    {% endif %}
    <section id="downloads">
      <div class="container wow animated fadeInDown">
        <h1>Begin your journey to faster local development...</h1>
        <div class="row">
          <div class="col-xs-12">
            {% if 'Mac' in platform %}
              <a class="btn btn-primary" href="/download/latest?email={{ email }}&extension=dmg">
                <h3>Download Kalabox Beta1</h3>
                <div class="os-desc">
                  <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                </div>
              </a>
            {% endif %}
            {% if 'Windows' in platform %}
              <a class="btn btn-primary" href="/download/latest?email={{ email }}&extension=exe">
                <div>Download Kalabox</div>
                <i class="fa fa-windows"></i> <span>Windows 8+</span>
              </a>
            {% endif %}
            {% if 'Ubuntu' in platform %}
              <a class="btn btn-primary" href="/download/latest?email={{ email }}&extension=deb">
                <div>Download Kalabox</div>
                <i class="fa fa-windows"></i> <span>Windows 8+</span>
              </a>
            {% endif %}
              <ul class="alt-downloads">
                <li>
                  <a href="/download/latest?email={{ email }}&extension=dmg">
                    <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
                  </a>
                </li>
                <li>
                  <a href="/download/latest?email={{ email }}&extension=exe">
                    <i class="fa fa-windows"></i> <span>Windows 8+</span>
                  </a>
                </li>
                <li>
                  <a href="/download/latest?email={{ email }}&extension=deb">
                    <i class="fa fa-linux"></i> <span>Ubuntu 14.04+</span>
                  </a>
                </li>
                <li>
                  <a href="/download/latest?email={{ email }}&extension=rpm">
                    <i class="fa fa-linux"></i> <span>Fedora 20+</span>
                  </a>
                </li>
              </ul>
          </div>
        </div>
        <div class="row install-steps">
          <div class="col-xs-4">
            <h2>1. Download</h2>
            <p>Pick the correct version of Kalabox above. Uncompress the download.</p>
          </div>
          <div class="col-xs-4">
            <h2>2. Follow Install Instructions</h2>
            <p>See install directions <a href="http://support.kalabox.io/solution/articles/14000006360">in the knowledge base</a>.</p>

          </div>
          <div class="col-xs-4">
            <h2>3. Run Installer</h2>
            <p>Run the installer. Once complete, Kalabox will be in your normal applications directory.</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>